// الألوان الأساسية للموقع والتصميم العام
// Site Core & Global Design Colors
$primary-color: #fff1f1;
$hover-color: #4e4848;
$hover-text-color: #ff8c00;
$dropdown-bg: #fffdfd;
$box-shadow: 0px 8px 16px 0px rgba(74, 62, 62, 0.2);
$border-radius: 80px;
$text-color: #c48310;
$primary-hover-color: #a66f0d;
$background-color: #fff;
$text-color: #ffa109;
$label-color: #080808ee;
$border-color: #ccc;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$border-radius: 80px;
$input-border-radius: 5px;
$light-color:white;




$active-color:#ffd700;

$success-color:rgba(216, 183, 183, 0.1);

$warning-color:#ffa109; 

$error-color:#ccc;

$base-color:#000;

$font-color:#A34343;

$link-color:0 2px 4px rgba(0, 0, 0, 0.1);

$dark-blue:#f49c05;

$light-grey:#c2bdbd;

$red-error:#383848;

$green-success:#f4f2ed;

$button-hover:#008000;

$text-light:#e21e80;

$bg-primary:#fff;

$bg-secondary:#FDF5E6; 

$border-default:#f0f0f0;

$card-bg:#007bff;

$icon-color:#ddd;

$shadow-color:#f7f5f5;

$modal-overlay:#d9d5d5;

$active-state:  0 2px 5px rgba(0, 0, 0, 0.1);

$input-border: #e59a1a;








